@page "/ResetPassword"
@model AspnetIdentityDemo.Pages.ResetPasswordModel
@{
    Layout = null; 
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Your Password</h1>
    <form action="/api/auth/ResetPassword" method="post">
        <input type="hidden" name="Token" value="@Request.Query["Token"]" />
        <input type="hidden" name="Email" value="@Request.Query["Email"]" />
        <table>
            <tr>
                <td>
                    New Password
                </td>
                <td>
                    <input type="password" name="NewPassword" />
                </td>
                <td>
                    <input type="password" name="ConfirmPassword" />
                </td>
            </tr>
            <tr>
                <input type="submit" value="Reset"
            </tr>
        </table>
    </form>
</body>